<div class="share-page">
    <span class="follow-us">Follow Us</span>
    <p>
        <!--<a href="https://twitter.com/intent/tweet?text={{ include.title }}&url={{ site.baseurl }}{{ include.url }}&via={{ site.twitter_user }}&related={{ site.twitter_user }}" rel="nofollow" target="_blank" title="Share on Twitter"><span class="icon-twitter socials"></span></a>-->
        <!--<a href="https://facebook.com/sharer.php?u={{ site.baseurl }}{{ include.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><span class="icon-facebook socials"></span></a>-->
        <!--<a href="https://plus.google.com/share?url={{ site.baseurl }}{{ include.url }}" rel="nofollow" target="_blank" title="Share on Google+"><span class="icon-googleplus socials"></span></a>-->

        twitter.<a href="https://twitter.com/classycostrip" rel="nofollow" target="_blank" title="Follow on Twitter">follow()</a> |
        twitter.<a href="https://twitter.com/intent/tweet?text={{ include.title }}&url={{ site.baseurl }}{{ include.url }}&via={{ site.twitter_user }}&related={{ site.twitter_user }}" rel="nofollow" target="_blank" title="Share on Twitter">tweet(this)</a> |
        facebook.<a href="https://facebook.com/sharer.php?u={{ site.baseurl }}{{ include.url }}" rel="nofollow" target="_blank" title="Share on Facebook">post(this)</a>
            <br>
            reddit.<a href="http://www.reddit.com/submit?url={{ site.baseurl }}{{ include.url }}&title={{ include.title }}" rel="nofollow" target="_blank" title="Share on Reddit">post(this)</a> |
            google.<a href="https://plus.google.com/share?url={{ site.baseurl }}{{ include.url }}" rel="nofollow" target="_blank" title="Share on Google+">post(this)</a> |
            RSS.<a href="/atom.xml" rel="nofollow" target="_blank" title="rss">sign()</a>
    </p>
</div>