// Base Grid
$global-width: 1000px;

// Base Colors
$primary-color: rgba(39, 39, 39, 0.08);
$secondary-color: #aaa;
$complimentary-color: #fff;
$body-bg: #fdfdfd;
$body-font-color: #222;
$banner-color: #ff8674;

// Links
$link-color: #af2f27;
$link-hover-color: lighten($link-color, 25%);;
$link-visited-color: darken($link-color, 10%);

// Text
$base-font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$base-font-size: 1.0em;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

// Primary Navbar Settings
$navbar-height: 44px;
$navbar-color: $primary-color;
$navbar-text-color: $link-color;
$navbar-hover-color: $link-hover-color;
$navbar-active-color: darken($complimentary-color, 75%);
$navbar-font-size: 13px;
$navbar-font-family: "Open Sans", Helvetica, Arial, sans-serif;

// Socials Navbar Settings
$socials-font-color: $secondary-color;
$socials-font-size: 1.5em;

// Comic Settings
$comic-nav-background: $primary-color;
$comic-nav-height: 30px;
$comic-border-color: $primary-color;
$comic-border-width: 3px;
$comic-nav-color: $secondary-color;
$comic-nav-hover: $link-hover-color;
$archive-border-color: $secondary-color;
$archive-border-width: 1px;
$archive-hover-color: $primary-color;
$figcaption-background-color: #6b6b6b;
$figcaption-text-color: $complimentary-color;

// Utility
$spacing-unit: 30px;

// Footer
$footer-height: 40px;
$footer-color: #eff0ef;